/*EXTRAS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    ---color-gris: #18191A;
    --color-transparen: transparent;
    --color-body: #fff;
    --color-white: #fff;
    --color-black: #000;
    --color-blue: #29caf8;
    --color-text: #000;
}
body {
    margin: 0;
    padding: 0;
    background: var(--color-body);
    font-family: "PT sans", sans-serif;
    background-size: cover;
    background-position: center;
    /*background: linear-gradient(#0df8f9, #000);*/
}
body.dark {
    ---color-gris: #18191A;
    --color-transparen: #18191A;
    --color-body: #000;
    --color-white: #CCC;
    --color-black: #18191A;
    --color-blue: #29caf8;
    --color-text: #ccc;
}

/*------------------
CARRUCEL
--------------------*/
.carrucel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
}
.carrucel .list .item {
    position: absolute;
    inset: 0 0 0 0;
}
.carrucel .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
.carrucel .list .item .contect {
    position: absolute;
    top: 50%;
    width: 1100px;
    max-width: 45%;
    left: 25%;
    transform: translateX(-50%);
    padding-right: 25px;
    box-sizing: border-box;
    color: var(--color-white);
    text-shadow: 0 5px 10px #18191A;
}
.carrucel .list .item .autor {
    font-weight: bold;
    letter-spacing: 10px;
}
.carrucel .list .item .contect .tittle,
.carrucel .list .item .contect .topic {
    font-weight: bold;
    font-size: 2em;
    line-height: 1.3em;
}
.carrucel .list .item .contect .topic {
    color: var(--clr);
}
.carrucel .list .item .contect .btns-carrucel {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carrucel .list .item .contect button {
    border: none;
    background-color: var(--color-white);
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.carrucel .list .item .contect button:hover {
    background-color: var(--color-blue);
    color: var(--color-black);
    border: 1px solid var(--color-black);
    transition: .5s ease;
}
.carrucel .list .item .contect button a{
    color: var(--color-black);
    text-decoration: none;
}
.carrucel .list .item .contect button:nth-child(2) {
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-white);
}
.carrucel .list .item .contect button:nth-child(2):hover {
    background-color: var(--color-blue);
    color: var(--color-black);
    border: 1px solid var(--color-black);
    transition: .5s ease;
}
.carrucel .list .item .contect button:nth-child(2) a {
    color: var(--color-white);
    text-decoration: none;
}
/*------------------
MINIATURAS
--------------------*/
.miniaturas {
    position: absolute;
    bottom: 10px;
    left: 57%;
    width: max-content;
    z-index: 10;
    display: flex;
    gap: 10px;
}
.miniaturas .item {
    width: 120px;
    height: 170px;
    flex-shrink: 0;
    position: relative;
}
.miniaturas .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.miniaturas .item .contect {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.miniaturas .item .contect .tittle {
    font-weight: bold;
}
/*------------------
ARROWS
--------------------*/
.arrows {
    position: absolute;
    top: 60%;
    right: -14%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    font-family: monospace;
    color: #fff;
    font-weight: bold;
    font-size: large;
    transition: .5s;
    z-index: 10;
}
.arrows button:hover {
    background-color: #eee;
    color: #555;
}
.carrucel .list .item:nth-child(1) {
    z-index: 1;
}
.carrucel .list .item:nth-child(1) .autor,
.carrucel .list .item:nth-child(1) .tittle,
.carrucel .list .item:nth-child(1) .topic,
.carrucel .list .item:nth-child(1) .descric,
.carrucel .list .item:nth-child(1) .btns-carrucel {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
.carrucel .list .item:nth-child(1) .tittle {
    animation-delay: 1s;
}
.carrucel .list .item:nth-child(1) .topic {
    animation-delay: 1.2s;
}
.carrucel .list .item:nth-child(1) .descric {
    animation-delay: 1.4s;
}
.carrucel .list .item:nth-child(1) .btns-carrucel {
    animation-delay: 1.6s;
}
/*------------------
EFECTO SIGUIENTE
--------------------*/
.carrucel.next .list .item:nth-child(1) img {
    width: 120px;
    height: 170px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage {
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}
.carrucel.next .miniaturas .item:nth-child(1) {
    width: 0;
    overflow: hidden;
    animation: showMini .5s linear 1 forwards;
}
@keyframes showMini {
    to {
        width: 120px;
    }
}
.carrucel.next .miniaturas {
    transform: translateX(120px);
    animation: tranformMIni .5s linear 1 forwards;
}
@keyframes tranformMIni {
    to {
        transform: translateX(0px);
    }
}
/*------------------
EFECTO ANTERIOR
--------------------*/
.carrucel.prev .list .item:nth-child(2) {
    z-index: 2;
}
.carrucel.prev .list .item:nth-child(2) img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: autImage .5s linear 1 forwards;
}
@keyframes autImage {
    to {
            width: 120px;
            height: 170px;
            border-radius: 20px;
            left: 58%;
            bottom: 10px;
    }
}
.carrucel.prev .miniaturas .item:nth-child(1) {
    width: 0;
    overflow: hidden;
    animation: showMini .5s linear 1 forwards;
}
.carrucel.prev .list .item:nth-child(2) .autor,
.carrucel.prev .list .item:nth-child(2) .tittle,
.carrucel.prev .list .item:nth-child(2) .topic,
.carrucel.prev .list .item:nth-child(2) .descric,
.carrucel.prev .list .item:nth-child(2) .btns {
    animation: contectOut 1.5s linear 1 forwards;
}
@keyframes contectOut {
    to{
        transform: translateY(-120px);
        transform: translateY(-50px); 
        filter: blur(20px);
        opacity: 0;
    }
}
.carrucel.next .arrows button,
.carrucel.prev .arrows button {
    pointer-events: none;
}
/*------------------
TIME
--------------------*/
.time {
    width: 0%;
    height: 5px;
    background-color: var(--color-blue);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}
.carrucel.next .time,
.carrucel.prev .time {
    width: 100%;
    animation: timeRunning linear 1 forwards;
}
@keyframes timeRunning {
    to{
        width: 0;
    }
}
/*------------------
SLIDER AJUSTABLE
--------------------*/
@media (max-width: 1980px) {
    /*CARRUCEL*/
    .carrucel {
        width: 100%;
        height: 50%;
    }
    .carrucel .list .item img {
        width: 100%;
        height: 100%;
    }
    .carrucel .list .item .contect {
        position: absolute;
        left: 35%;
        top: 45%;
        max-width: 60%;
    }
    /*------------------
    MINIATURAS
    --------------------*/
    .miniaturas {
        position: absolute;
        left: 65%;
        gap: 5px;
        }
    .miniaturas .item {
        width: 80px;
        height: 130px;
    }
    .miniaturas .item .contect {
        bottom: 5px;
        left: 5px;
        right: 5px;
    }
    .miniaturas .item .contect .tittle {
        font-size: 12px;
    }
    /*------------------
    ARROWS
    --------------------*/
    .arrows {
        top: 55%;
        right: -10%;
    }
    /*------------------
    EFECTO SIGUIENTE
    --------------------*/
    .carrucel.next .list .item:nth-child(1) img {
        width: 80px;
        height: 130px;
    }
    @keyframes showMini {
        to {
            width: 80px;
        }
    }
    .carrucel.next .miniaturas {
        transform: translateX(80px);
    }
    /*------------------
    EFECTO ANTERIOR
    --------------------*/
    @keyframes autImage {
        to {
                width: 80px;
                height: 130px;
                border-radius: 20px;
                left: 65%;
                bottom: 10px;
        }
    }
    }
@media (max-width: 1280px) {
    /*CARRUCEL*/
    .carrucel {
        width: 100%;
        height: 80%;
    }
    .carrucel .list .item img {
        width: 100%;
        height: 100%;
    }
    .carrucel .list .item .contect {
        position: absolute;
        left: 35%;
        top: 45%;
        max-width: 60%;
    }
    /*------------------
    MINIATURAS
    --------------------*/
    .miniaturas {
        position: absolute;
        left: 65%;
        gap: 5px;
        }
    .miniaturas .item {
        width: 80px;
        height: 130px;
    }
    .miniaturas .item .contect {
        bottom: 5px;
        left: 5px;
        right: 5px;
    }
    .miniaturas .item .contect .tittle {
        font-size: 12px;
    }
    /*------------------
    ARROWS
    --------------------*/
    .arrows {
        top: 55%;
        right: -19%;
    }
    /*------------------
    EFECTO SIGUIENTE
    --------------------*/
    .carrucel.next .list .item:nth-child(1) img {
        width: 80px;
        height: 130px;
    }
    @keyframes showMini {
        to {
            width: 80px;
        }
    }
    .carrucel.next .miniaturas {
        transform: translateX(80px);
    }
    /*------------------
    EFECTO ANTERIOR
    --------------------*/
    @keyframes autImage {
        to {
                width: 80px;
                height: 130px;
                border-radius: 20px;
                left: 65%;
                bottom: 10px;
        }
    }
    }
@media (max-width: 1024px) {
    /*CARRUCEL*/
    .carrucel {
        width: 100%;
        height: 80%;
    }
    .carrucel .list .item img {
        width: 100%;
        height: 100%;
    }
    .carrucel .list .item .contect {
        position: absolute;
        left: 35%;
        top: 45%;
        max-width: 60%;
    }
    /*------------------
    MINIATURAS
    --------------------*/
    .miniaturas {
        position: absolute;
        left: 65%;
        gap: 5px;
        }
    .miniaturas .item {
        width: 80px;
        height: 130px;
    }
    .miniaturas .item .contect {
        bottom: 5px;
        left: 5px;
        right: 5px;
    }
    .miniaturas .item .contect .tittle {
        font-size: 12px;
    }
    /*------------------
    ARROWS
    --------------------*/
    .arrows {
        top: 55%;
        right: -19%;
    }
    /*------------------
    EFECTO SIGUIENTE
    --------------------*/
    .carrucel.next .list .item:nth-child(1) img {
        width: 80px;
        height: 130px;
    }
    @keyframes showMini {
        to {
            width: 80px;
        }
    }
    .carrucel.next .miniaturas {
        transform: translateX(80px);
    }
    /*------------------
    EFECTO ANTERIOR
    --------------------*/
    @keyframes autImage {
        to {
                width: 80px;
                height: 130px;
                border-radius: 20px;
                left: 65%;
                bottom: 10px;
        }
    }
    }
@media (max-width: 768px) {
    .miniaturas {
        opacity: 0;
    }
    .carrucel {
        width: 100%;
        height: 80%;
    }
    .carrucel .list .item img {
        width: 100%;
        height: 100%;
    }
    .carrucel .list .item .contect {
        position: absolute;
        left: 45%;
        top: 50%;
        max-width: 80%;
    }
    .carrucel .list .item .contect .tittle{
        font-size: 13px;
    }
    .carrucel .list .item .contect .topic {
        font-size: 15px;
    }
    .carrucel .list .item .contect .btns-carrucel {
        grid-template-columns: repeat(2, 90px);
        gap: 10px;
        margin-top: 5px;
    }
    .carrucel .list .item .contect button {
        letter-spacing: 1px;
    }
    /*------------------
    ARROWS
    --------------------*/
    .arrows {
        top: 78%;
        right: -14%;
    }
    .carrucel.prev .list .item:nth-child(2) {
        opacity: 0;
    }
}
@media (max-width: 660px) {
    .miniaturas {
        opacity: 0;
    }
    .carrucel {
        width: 100%;
        height: 80%;
    }
    .carrucel .list .item img {
        width: 100%;
        height: 100%;
    }
    .carrucel .list .item .contect {
        position: absolute;
        left: 45%;
        top: 50%;
        max-width: 80%;
    }
    .carrucel .list .item .contect .tittle{
        font-size: 13px;
    }
    .carrucel .list .item .contect .topic {
        font-size: 15px;
    }
    .carrucel .list .item .contect .btns-carrucel {
        grid-template-columns: repeat(2, 90px);
        gap: 10px;
        margin-top: 5px;
    }
    .carrucel .list .item .contect button {
        letter-spacing: 1px;
    }
    /*------------------
    ARROWS
    --------------------*/
    .arrows {
        top: 83%;
        right: -14%;
    }
    .carrucel.prev .list .item:nth-child(2) {
        opacity: 0;
    }
}
@media (max-width: 475px) {
    .miniaturas {
        opacity: 0;
    }
    .carrucel {
        width: 100%;
        height: 80%;
    }
    .carrucel .list .item img {
        width: 100%;
        height: 100%;
    }
    .carrucel .list .item .contect {
        position: absolute;
        left: 45%;
        top: 45%;
        max-width: 80%;
    }
    .carrucel .list .item .contect .tittle{
        font-size: 13px;
    }
    .carrucel .list .item .contect .topic {
        font-size: 15px;
    }
    .carrucel .list .item .contect .btns-carrucel {
        grid-template-columns: repeat(2, 90px);
        gap: 10px;
        margin-top: 5px;
    }
    .carrucel .list .item .contect button {
        letter-spacing: 1px;
    }
    /*------------------
    ARROWS
    --------------------*/
    .arrows {
        top: 82%;
        right: -10%;
    }
    .carrucel.prev .list .item:nth-child(2) {
        opacity: 0;
    }
}


/*------------------
BTN UBICACION
--------------------*/
.boton-4 {
    display: flex;
}
.btn-4 {
overflow: hidden;
position: absolute;
left: 5%;
top: 45%;
text-decoration: none;
color: black;
padding: 10px 30px;
border-radius: 30px;
box-shadow:
0 0 0 0 rgba(143, 64, 248, 0.5),
0 0 0 0 rgba(39, 200, 255, 0.5);
transition: 
transform 0.3s ease,
box-shadow 0.3s ease;
}
.btn-4::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    left: -100px;
    top: -50px;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg,
    #27d86c 0%,
    #26caf8 50%,
    #c625d0 100%);
    z-index: -100;
    transition: transform 0.5s ease;
}
.btn-4:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5),
    -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}
.btn-4:hover::after {
    transform: rotate(150deg);
}

/*------------------
ETIQUETAS
--------------------*/
.etiquetas {
    margin: 0px auto 50;
}
.etiquetas td {
    color: var(--color-text);
    background: transparent;
}

/*------------------
CATALOGOS
--------------------*/
.text-catalogos p {
    display: flex;
    margin: 0px auto 20;
    font-size: 1.5rem;
    color: var(--color-text);
    position: relative;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.catalogos {
    width: 100%;
    height: 50vh;
    /*background-color: aliceblue;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 50;
}
.secciones {
    width: 25%;
    height: 50vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 1.5%;
    border-radius: 10px;
}
.secciones img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.secciones .categorias {
    width: 0%;
    height: 50vh;
    background-color: rgba(56, 53, 53, 0.568);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .4s all;
}
.categorias h1 a{
    color: aliceblue;
    text-shadow: 1px 1px 1px #000;
    font-size: 1.0em;
    text-transform: uppercase;
    text-decoration: none;
}
.secciones:hover .categorias {
    width: 100%;
}
.slider-s ul { 
    display: flex;
    animation: cambio 15s infinite alternate linear;
    padding: 0;
    width: 300%;
}
.slider-s li {
    width: 100%;
    height: 300px;
}
.slider-s img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes cambio {
    0% {margin-left: 0%;}
    30% {margin-left: 0%;}

    35% {margin-left: -100%;}
    65% {margin-left: -100%;}

    70% {margin-left: -200%;}
    100% {margin-left: -200%;}
}

/*------------------
PRODUCTOS
--------------------*/
.productos .text-productos {
    display: flex;
    margin: 0px auto 20;
    font-size: 1.5rem;
    color: var(--color-text);
    position: relative;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.product-destacados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
}
.product-card {
    background-color: #fff;
    padding: 1rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.product-img {
    position: relative;
}
.product-img img {
    width: 100%;
}
.product-img .descuento {
    position: absolute;
    left: 0;
    background-color: #26caf8;
    color: #fff;
    padding: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}
.product-card:hover .descuento {
    background-color: #000;
}
.btn-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: -3rem;
    z-index: -1;
    transition: all .4s ease;
}
.btn-group span {
    border: 1px solid #26caf8;
    padding: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
}
.btn-group span:hover  {
    background-color: #26caf8;
}
.btn-group span:hover i {
    color: #fff;
}
.btn-group span i {
    font-size: 1.5rem;
    color: #26caf8;
}
.product-card:hover .btn-group {
    z-index: 0;
    right: -1rem;
}
.product-star {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
}
.stars {
    grid-row: 1/2;
    grid-column: 1/-1;
}
.stars i {
    font-size: 1.3rem;
    color: #26caf8;
}
.product-star h3 {
    grid-row: 2/3;
    grid-column: 1/-1;

    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.product-star h3:hover {
    color: #26caf8;
}
.car-agregar {
    justify-self: end;
    border: 1.5px solid #26caf8;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}
.car-agregar:hover {
    background-color: #26caf8;
}
.car-agregar i {
    font-size: 1.5rem;
    color: #26caf8;
}
.car-agregar:hover i {
    color: #fff;
}
.product-star .precio {
    justify-self: end;
    align-self: center;
    font-size: 1.7rem;
    font-weight: 600;
}
.product-star .precio span {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #777;
    margin-left: .5rem;
}

/*--------------------
MENU DE REDES SOCIALES
--------------------*/
.menu-redes {
    left: 78%;
    top: 8%;
    position: fixed;
    width: 260px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.menu-redes li {
    position: absolute;
    left: 16;
    list-style: none;
    transform-origin: 130px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(45deg) translateX(100px);
}
.menu-redes.activeColor li {
    transform: rotate(calc(-240deg / 4 * var(--i)));
}
.menu-redes li a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    border-radius: 50%;
    color: #000;
    transform: rotate(calc(-240deg / -4 * var(--i)));
    color: transparent;
    transition: 1s;
    transition-delay: .5s;
}
.menu-redes li a::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    border-radius: 2px;
    box-shadow: 
    0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 50px var(--clr);
    background: var(--clr);
    transform: rotate(calc(var(--i) * 30deg)) translate(0,23px);
    transition: height .5s,  width .5s, transform .5s;
    transition-delay: 0s, 0s, 0s;
}
.menu-redes.activeColor li a::before{
    width: 45px;
    height: 45px;
    border: 2px solid var(--clr);
    box-sizing: border-box;
    background: #fff;
    transform: rotate(calc(var(--i) * 90deg)) translate(0px,0px);
    transition: transform 0.5s, height 0.5s,  width 0.5s;
    transition-delay: 1s, 1.5s, 1.5s;
    rotate: 135deg;
}
.menu-redes.activeColor li:hover a::before {
    background: var(--clr);
    color: #fff;
    box-shadow: 
    0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 50px var(--clr);
}
.menu-redes li a::after {
    content: "";
    position: absolute;
    left: 0px;
    width: 30px;
    height: 2px;
    background: var(--clr);
    z-index: -1;
    transform: rotate(calc(var(--i) * 0deg)) translate(15px, 0px);
    transition: 0.5s;
    transition-delay: 0.5s;
}
.menu-redes.activeColor li a::after {
    left: 10px;
    width: 40px;
    transition-delay: 0.5s;
    transform: rotate(calc(var(--i) * -60deg)) translate(44px, 0px);
}
.menu-redes.activeColor li a i {
    position: relative;
    color: #000;
    z-index: 10000;
}
.menu-redes.activeColor li a {
    color: var(--clr);
}
.menu-toggle {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2em;
    transition: transform 1.5s;
}
.menu-redes.activeColor .menu-toggle {
    transform: rotate(-360deg);
}

/*------------------
AJUSTAR
--------------------*/
@media (min-width: 700px) and (max-width:990px){
    
}